.screen {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.chatToggle {
  position: absolute;
  left: 20px;
  top: 20px;
  background: var(--primary);
  color: white;
  border: none;
  padding: 12px 18px;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  z-index: 10;
}

.chatbot {
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  top: 0;
  width: 360px;
  height: 100vh;
  background: var(--primary);
  color: white;
  display: flex;
  flex-direction: column;
  z-index: 20;
}

.chatbot.open {
  transform: translateX(0);
}

.buttonClose {
  background: white;
  color: var(--secondary);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.chatHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: var(--secondary);
  font-weight: bold;
}

.chatBody {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 15;
}

.mode {
  flex-grow: 1;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}