.mapContainer {
    position: relative;
    width: 90%;
    height: 45vh;
    max-width: 600px;
    margin: 0 auto;
}

.leafletContainer {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border-color: var(--primary);
    border-width: 5px;
    border-style: solid;
}

.buttonLocationSave {
    display: block;
    margin: 10px auto;
    background-color: #1f2937;
    color: #ffffff;
    font-weight: 500;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
@media screen and (min-width: 768px) {
    .mapContainer {
        width: 95%;
        height: 50vh;
    }

    .buttonLocationSave {
        font-size: 15px;
        padding: 10px 16px;
    }
}

@media screen and (min-width: 1024px) {
    .mapContainer {
        width: 90%;
        max-width: 600px;
        height: 60vh; 
    }

    .buttonLocationSave {
        font-size: 16px;
        padding: 12px 20px;
    }
}


@media screen and (min-width: 1300px) {
    .mapContainer {
        width: 90%;
        max-width: 600px;
        height: 60vh; 
    }

    .buttonLocationSave {
        font-size: 16px;
        padding: 12px 20px;
    }
}
