@import "leaflet/dist/leaflet.css";

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./assets/fonts/ibm-plex-sans-v21-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./assets/fonts/ibm-plex-sans-v21-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./assets/fonts/ibm-plex-sans-v21-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'IBM Plex Sans', sans-serif;

  --text: #f8f9fA;
  --background: #020307;
  --primary: #0e2844;
  --secondary: #1e4b87;

  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100svh;
  background-color: var(--background);
}



